.wrapper {
  display: grid;
  grid-template-columns: 5% 10% 40px 40px 40px 40px;
  grid-template-rows: 8px auto 12px;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 10px;
  padding:30px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
